[submodule ".registry"]
	path = .registry
	url = https://github.com/staffanbetner/universe
	shallow = true
	branch = HEAD
[submodule "purrrgress"]
	path = purrrgress
	url = https://github.com/TylerGrantSmith/purrrgress
	shallow = true
	registered = true
[submodule "brms"]
	path = brms
	url = https://github.com/paul-buerkner/brms
	shallow = true
	registered = true
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	shallow = true
	registered = true
[submodule "tjmisc"]
	path = tjmisc
	url = https://github.com/tjmahr/tjmisc
	shallow = true
	registered = true
[submodule "brmstools"]
	path = brmstools
	url = https://github.com/mvuorre/brmstools
	shallow = true
	registered = true
[submodule "mmtable2"]
	path = mmtable2
	url = https://github.com/ianmoran11/mmtable2
	shallow = true
	registered = true
[submodule "rethinking"]
	path = rethinking
	url = https://github.com/rmcelreath/rethinking
	shallow = true
	registered = true
[submodule "StanHeaders"]
	path = StanHeaders
	url = https://github.com/stan-dev/rstan/tree/StanHeaders_2.26/StanHeaders
	shallow = true
	registered = true
[submodule "rstan"]
	path = rstan
	url = https://github.com/stan-dev/rstan/tree/StanHeaders_2.26/rstan
	shallow = true
	registered = true
