[submodule ".registry"]
	path = .registry
	url = https://github.com/staffanbetner/universe
	shallow = true
	branch = HEAD
[submodule "purrrgress"]
	path = purrrgress
	url = https://github.com/TylerGrantSmith/purrrgress
	shallow = true
	registered = true
[submodule "brms"]
	path = brms
	url = https://github.com/paul-buerkner/brms
	shallow = true
	registered = true
[submodule "cmdstanr"]
	path = cmdstanr
	url = https://github.com/stan-dev/cmdstanr
	shallow = true
	registered = true
[submodule "tjmisc"]
	path = tjmisc
	url = https://github.com/tjmahr/tjmisc
	shallow = true
	registered = true
[submodule "brmstools"]
	path = brmstools
	url = https://github.com/mvuorre/brmstools
	shallow = true
	registered = true
[submodule "INLA"]
	path = INLA
	url = https://github.com/hrue/r-inla/tree/devel/rinla
	shallow = true
	registered = true
[submodule "posterior"]
	path = posterior
	url = https://github.com/stan-dev/posterior
	shallow = true
	registered = false
